<!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>¿CANSADO de buscar alternativas para codificación online?</h1>
      <h2>¿Sí?... ¡Pincha el botón de abajo!</h2>
      <a href="#about" class="btn-get-started">¡Pínchame!</a>
    </div>
  </section><!-- #hero -->



    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">¡NO BUSQUES MÁS!</h2>
            <p>
              OMCode te ofrece la posibilidad de hacerlo de forma fácil, rápida y gratuita.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">¿Qué es OMCode?</a></h4>
              <p class="description">OMCode es un sitio web que te ofrece la posibilidad de realización codificación HTML, CSS y Javascript, de forma completamente gratuita, fácil y rápida.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">¿Podré almacenar mis proyectos en OMCode?</a></h4>
              <p class="description">¡Por supuesto!; OMCode te permite almacenar tus proyectos en la nube, para que puedas acceder, y trabajar en ellos desde cualquier lugar.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">¿Podré compartir mis proyectos en OMCode?</a></h4>
              <p class="description">¡Desde Luego!; OMCode te permite también poder compartir carpetas de código.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
  
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Servicios</h3>
          <p class="section-description">OMCode te ofrece una amplia gama de servicios, como ser:</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-code"></i></a></div>
              <h4 class="title"><a href="">Editar código en línea</a></h4>
              <p class="description">Podrás editar código html, css y javascript en tiempos real desde cualquier parte del mundo.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-sign-in"></i></a></div>
              <h4 class="title"><a href="">Maneja tu ingreso</a></h4>
              <p class="description">Podrás registrarte dentro de nuestra plataforma para que puedas gestionar tus códigos.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-share-alt"></i></a></div>
              <h4 class="title"><a href="">Compartir código con los demás</a></h4>
              <p class="description">Podrás comparti tus creaciones con otros usuarios de la plataforma y viceversa.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-mobile-phone"></i></a></div>
              <h4 class="title"><a href="">Sitio "Full Responsive"</a></h4>
              <p class="description">No solo podrás acceder a nuestra plataforma desde una computadora, ya que también lo podrás hacer desde la comodidad de tu teléfono móvil.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-cloud-download"></i></a></div>
              <h4 class="title"><a href="">Descargar archivos</a></h4>
              <p class="description">Podrás descargar tus archivos creados en cualquier momento.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-comments"></i></a></div>
              <h4 class="title"><a href="">Contar con TÚ opinión</a></h4>
              <p class="description">En OMCode valoramos la opinión de los usuarios, por lo cual, podrás enviarnos tus sugerencias para mejorar.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
 
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contáctanos</h3>
          <p class="section-description">Visualiza con el mapa la zona de contacto o envíanos feedback</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
      <iframe src="https://maps.google.com/maps?q=unah%20honduras&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

      <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Tú mensaje ha sido enviado.</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tú nombre" data-rule="minlen:4" data-msg="Por favor, ingresa tú nombre." />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Tú correo" data-rule="email" data-msg="Por favor, ingresa un email válido." />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Motivo" data-rule="minlen:4" data-msg="Por favor, ingresa el motivo del mensaje." />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Debes ingresar el mensaje." placeholder="Mensaje"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Enviar</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>OMCode 2019</strong>
      </div>
    
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  