<br>
<section>
    <h1 class="text-center text-dark">¡Elige el Plan que quieras!</h1>
<br>

<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<script src="assets/js/fontAwesone.min.js"></script>
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src="assets/js/precios.js"></script>
	<title>Precios</title>
	<style>
		.barra2 {
			background: #074F7B;
		}

		.card-header {

			background-color: #074F7B;
		}

		footer p a {
			padding-left: 10px;
			color: white;
		}

		footer p a:hover {
			padding-left: 10px;
			color: white;
		}

		footer {
			padding: 15px 0 15px 0;
			background: #074F7B;
		}

		#footerRS a {
			color: white;
			font-size: 20px;
		}
		a button:hover{
			text-decoration: none;
		}
	</style>
</head>

<body>


	<main class="container">

		<div class="row">
			<div class="col">
				<div class="card-deck">
					<!-- Card 1 -->
					<div class="card animated flipInY mb-4" style="min-width: 250px;">
						<div class="card-header">
							<h4 class="my-0 text-center text-white">GRATIS</h4>
						</div>
						<div class="card-body text-center">
							<h1>$0
								<span class="text-muted">/ mes</span>
							</h1>
							<ul class="list-unstyled">
								<li style="color:skyblue">¡Pruébalo sin compromiso alguno!.</li>
								<li style="color:goldenrod">SI TE GUSTÓ, PUEDES PROBAR LAS DEMÁS OPCIONES MÁS ADELANTE.</li>
							</ul>
							<a href="/users/signin">
								<button class="btn btn-outline-info  btn-block">¡VAMOS!</button>
							</a>
						</div>
					</div>
					<!-- Card 2 -->
					<div class="card animated flipInY mb-4" style="min-width:250px;">
						<div class="card-header">
							<h4 class="my-0 text-center text-white">PREMIUM</h4>
						</div>
						<div class="card-body text-center">
							<h1>$10
								<span class="text-muted">/ mes</span>
							</h1>
							<ul class="my-3 list-unstyled">
								<li style="color:green">Ventaja Principal:</li>
                <li style="color:purple">* Almacenamiento de proyectos ILIMITADO</li>							
							</ul>
						</div>
					</div>
					<!-- Card 3 -->
					<div class="card animated flipInY mb-4" style="min-width:250px;">
						<div class="card-header">
							<h4 class="my-0 text-center text-white">FULL HD 4K</h4>
						</div>
						<div class="card-body text-center">
							<h1>100$
								<span class="text-muted">/ mes</span>
							</h1>
							<ul class="my-3 list-unstyled">
								<li style="color:Green">Ventajas Principales:</li>
                <li style="color:Purple">* Almacenamiento de proyectos ILIMITADO</li>
                <li style="color:Purple">* Capacidad de descargar proyectos</li>
                <li style="color:Purple">* ELLA te amará</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<script src="js/jquery-3.3.1.min.js"></script>
	<script src=""></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>